<!DOCTYPE html>
<html>
<head>
  <title>Frontend Courses</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/frontend">Frontend Courses</a></li>
      <li><a href="/backend">Backend Courses</a></li>
    </ul>
  </nav>

  <div class="container">
    <h1>Frontend Courses</h1>
    <p>List of frontend courses...</p>
  </div>
</body>
</html>
